{% extends 'base.html.twig' %}

{% block title %}Hello SantaController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Join to secret Santa</h1>
    {{ app.user.email ?? '' }}
    <a type="button" href="/{{ app.user ? 'logout': 'login'}}">
        {{ app.user ? 'Logout' : 'Login/Regist' }}
    </a>
    {% if app.user %}
        <div>
            <a href="#">Join to group 1</a>
        </div>
    {% endif %}
</div>
{% endblock %}
